{% extends 'base.html.j2' %}
{% block content %}
    <div class="move-container">
        <div class="move-element">
            <h2>{{ page_title }}</h2>
            <form method="POST" action="">
                {{ form.hidden_tag() }}
                {# Name and Description #}
                <table class="form-table">
                    <tr>
                    <th class="d-none">Label Column</th>
                     <th class="d-none">Field Column</th>
                    </tr>
                    <tr>
                        <td>{{ form.name.label }}</td>
                        <td>{{ form.name() }}</td>
                    </tr>
                    <tr>
                        <td>{{ form.details.label }}</td>
                        <td>{{ form.details() }}</td>
                    </tr>
                    <tr>
                        <td>{{ form.playbook_id.label }}</td>
                        <td>{{ form.playbook_id() }}</td>
                    </tr>
                </table>
                <br>
                <input type="submit" value="Save Playbook">
            </form>
        </div>
    </div>
{% endblock %}