{% extends 'base.html.j2' %}
{% block content %}
    <body>
        <div class="container">
            <h4>Log In</h4>
            <br/>
            <form  method=post action="/login">
                {{ form.hidden_tag() }}
                <div>{{ form.email }}</div>
                <div>{{ form.password }}</div>
                <div>
                    <p><input type=submit value='Log In'></p>
                </div>
            </form>
        </div>

    </body>

{% endblock %}