<div>
    <input type="text" value={{ character.name }}>
    <div>
        <h3>{{ character.playbook.name }}</h3>
    </div>
    <div>
        <i>
            {{ character.playbook.description }}
        </i>
    </div>
</div>